<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="/favicon.ico">
	<title>Quero Bolsa</title>
	<meta name="description" content="Encontre as melhores bolsas de estudo do mercado.">
	<link rel="stylesheet" href="https://use.typekit.net/ucm4xyc.css">
	<link rel="preconnect" href="//testapi.io">
    <link rel="dns-prefetch" href="//testapi.io">
</head>
<body>
	<div id="app"></div>
</body>
</html>
